.chatroom {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#videoElement {
  margin-top: 35px;
  background-color: white;
  height: 500px;
  width: 500px;
  border: solid 10px rgb(0, 132, 255);
  border-radius: 1em;
}
#videoElement {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
}

.dbButton {
font-family: Georgia;
font-size: 17px;
background-color: rgb(84, 192, 84);
position:fixed;
right: 385px;
bottom: 277px;
height: 60px;
margin-top: 18px;
border: solid 2px rgb(0, 255, 0);
border-radius: 30px;
width: 200px;
cursor: pointer;
}