.chatroom {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message-container {
  background-color: white;
  height: 95%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100vw;
}
#aside-bar {
  background-color: whitesmoke;
  height: 100%;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.msg-form {
  height: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#message {
  margin-left: 0.5em;
  border: none;
  width: 90%;
}
#videoElement {
  background-color: white;
  height: 100%;
  width: 50vw;
  border: solid 10px rgb(0, 132, 255);
  border-radius: 1em;
}
#videoElement {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
}

#footer-options {
  height: 10vh;
  width: 100%;
  background-color: #3b3c36;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 1em;
}
.dbButton {
font-family: Georgia;
font-size: 17px;
background-color: rgb(84, 192, 84);
height: 60px;
margin-top: 18px;
border: solid 2px rgb(0, 255, 0);
border-radius: 30px;
width: 200px;
cursor: pointer;
margin-bottom: 0.5em;
}

.button {
  cursor: pointer;
  margin-left: 0.5em;
  border-radius: 3em;
  font-size: 2rem;
  padding: 5px;
}
.user-msg {
  padding: 5px 15px 5px 15px;
  margin-top: 0.7em;
  max-width: auto;
  width: 75%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
}
#header-h1 {
  text-align: center;
}
.all-users-ctn {
  margin-top: 1em;
  min-width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-video {
  background-color: black;
  height: 10em;
  width: 95%;
}
.users-container {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}
#user-disp-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}