@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.centered {
  justify-content: center; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */
  display: flex;
}


body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('https://i.imgur.com/9JIsQNS.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 250vh 100vh;

  
}

.container {
  max-width: 70vh;
  margin: 1px auto;
  overflow: auto;
  min-height: 20px;
  border: 1px solid rgb(255, 255, 255);
  padding: 1px;
  border-radius: 5px;
  background-color: #313133a4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.95);
}

.btn-block {
  display: block;
  width: 100%;
}

.image{
  height: auto;
  width: auto;
  max-width: 50%;
  min-width: 50%;
}

